.App {
  text-align: center;
}
body{
  background-image: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Bebas Neue', cursive;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: grey;
  color: white;
  opacity: 30%;
}
.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

}

.maintext{
  float: left;
  padding-left: 30vh;
  letter-spacing: 3px;
  padding-top: 25vh;
  font-size: 20px;
  color: balck;
  opacity: 70%;
  text-shadow: 1px 1px white;
}